@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  font-family: 'Arial', sans-serif;
  /* Example font, replace with your choice */
  background-color: #0d1017;
  /* Your dark background color */
  color: #ffff;
  /* Your text color */
}


.content-animate {
  transition: transform 2s ease-in-out, opacity 0.5s ease-in-out;
  will-change: transform, opacity;
}

.content-exit-active {
  transform: translateX(100%);
  opacity: 0;
}


/* Home Page */
.homeContentSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.introTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  width: 50%;
}


@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.NameTitle h1:first-child {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(100, end) 0.5s 1 normal both;
}

.NameTitle h1:last-child {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(100, end) 2.5s 1 normal both;
  /* Starts immediately after the first ends */
}

.NameTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(100, end) 1s 1 normal both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.h2FadeInUp {
  animation-delay: 4s;
}

.h3FadeInUp {
  animation-delay: 4.5s;
}





/* Technologies */
.tech-section-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  width: 100%;
}

.tech-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.logo-list{
  display: flex;
  gap: 4rem;
  flex-direction: row;
  padding-bottom: 0.75rem;
}
.TechIcon {
  width: 4rem;
  height: 4rem;
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: grayscale(100%);
}

.TechIcon:hover {
  filter: none;
  transform: scale(1.2); /* Pop effect on hover */
}





/* resume */
.backstory{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 45%;
  font-style: italic;
}

.mini-logo-list{
  display: flex;
  gap: 2rem;
  flex-direction: row;
  padding-bottom: 1rem;
}

.mini-techIcon {
  width: 2.5rem;
  height: 2.5rem;
  filter: grayscale(100%);
}

.mini-techIcon:hover {
  transform: scale(1.2); /* Pop effect on hover */
}


.job-entry {
  transition: transform 0.3s ease;
}

.JobEntryContainer:hover .job-entry{
  background-color: rgba(0, 0, 0, 0.1); /* Apply gray modal overlay to all elements */
  color: #666;
}

.JobEntryContainer .job-entry:hover{
  background-color:  #1c222e;
  color: white;
  transform: scale(1.01);
}

/* Ensures all job-entry elements have a consistent grayish look on hover of the container, excluding the one being directly hovered */
.JobEntryContainer:hover .job-entry img {
  filter: grayscale(100%); /* Converts the image to grayscale */
  opacity: 0.5; /* Makes the image semi-transparent to mimic the gray overlay effect */
}

/* When a specific job-entry is hovered, it returns the images to full color and opacity */
.JobEntryContainer .job-entry:hover img {
  filter: none; /* Removes any filters, showing the image in original color */
  opacity: 1; /* Full opacity for clear visibility */
}
