@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  font-family: 'Arial', sans-serif;
  /* Example font, replace with your choice */
  background-color: #0d1017;
  /* Your dark background color */
  color: #ffff;
  /* Your text color */
}


.homeContentSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.introTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 35px;
  width: 50%;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.NameTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(100, end) 1s 1 normal both;
}

.homeImage{
  width: 50%;
  height: 50%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;  
}

.h2FadeInUp {
  animation-delay: 3s; 
}

.h3FadeInUp {
  animation-delay: 3.5s; 
}