@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  font-family: 'Arial', sans-serif; /* Example font, replace with your choice */
  background-color: #0d1017; /* Your dark background color */
  color: #ffff; /* Your text color */
}

/* Animation keyframes */
@keyframes contentSection {
  from {
      opacity: 0;
      transform: translateX(20%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.contentSection {
  animation-name: contentSection;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  width: 100%;
  flex: 1;
  flex-direction: row;
}